<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="todoEntities" connectionString="metadata=res://*/ApplicationData.todoModel.csdl|res://*/ApplicationData.todoModel.ssdl|res://*/ApplicationData.todoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V11BK5F;initial catalog=todo;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>